zzfmhu2j7ajq55mmpm3ihs3oqy::password::{{ lookup('onepassword_local', 'zzfmhu2j7ajq55mmpm3ihs3oqy', field='password') }}
c3264cef-1e5e-4c96-a192-26729539f3f5::password::{{ lookup('onepassword_local', 'c3264cef-1e5e-4c96-a192-26729539f3f5', field='password', use_custom_uuid=True) }}
